@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Shared Notes</h1>
    <p>Please Enter your Notes below, remember these are shared for all users</a>.</p>
</div>
